/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
margin: 0;
padding: 0;
border: 0;
font-size: 100%;
font: inherit;
vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
display: block;
}
body {
line-height: 1;
}
ol, ul {
list-style: none;
}
blockquote, q {
quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
content: '';
content: none;
}
table {
border-collapse: collapse;
border-spacing: 0;
}

html, body {
	background-color: black;
}

@font-face {
  font-family: Butler;
  src: url(assets/fonts/Butler_Black.otf);
  font-weight: 900;
}


@font-face {
  font-family: Butler;
  src: url(assets/fonts/Butler_Bold.otf);
  font-weight: bold;
}

@font-face {
  font-family: Butler;
  src: url(assets/fonts/Butler_Medium.otf);
  font-weight: 700;
}

@font-face {
  font-family: Butler;
  src: url(assets/fonts/Butler_Regular.otf);
  font-weight: normal;
}

@font-face {
  font-family: Butler;
  src: url(assets/fonts/Butler_Light.otf);
  font-weight: 100;
}

@font-face {
  font-family: MinionPro;
  src: url(assets/fonts/MinionPro_Bold.otf);
  font-weight: bold;
}

@font-face {
  font-family: MinionPro;
  src: url(assets/fonts/MinionPro_Medium.otf);
  font-weight: 700;
}

@font-face {
  font-family: MinionPro;
  src: url(assets/fonts/MinionPro_Regular.otf);
  font-weight: normal;
}

html, body {
	width: 100%;
	height: 100%;
}

.peach {
	color: #DB5F53;
}

.pomegranates {
	color: #a65b83;
}

.intro {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	height: 100%;
	width: 100%;
	color: white;
	text-align: center;
}

.intro h1 {
	font-size: 60px;
	font-family: Butler;
	font-weight: bold;
	letter-spacing: 18px;
}

.intro h5 {
	margin: 15px 0px;
	font-size: 25px;
	font-family: Butler;
}

.intro p {
	width: 500px;
	font-family: sans-serif;
	font-weight: 100;
}

.text-container {
	position: relative;
}

.mouse {
	z-index: 10;
	overflow:hidden;
	position:absolute;
	bottom: 50px;
	width:18px;
	margin: -12px;
	height:40px;
	border:4px solid white;
	border-radius:30px;
	transform: translateX(37%);
}

.mouse:after {
	display: block;
	content:"";
	position:absolute;
	left:10.5px;
	top: 5px;
	width:4px;
	height:4px;
	margin-left: -3px;
	background-color: white;
	border-radius:2px;
	animation: mouse-wheel 2.5s cubic-bezier(0.77, 0, 0.175, 1) infinite;
}

@keyframes mouse-wheel {
  0% {
    transform: translateY(0);
    opacity: 0;
  }  
  10% {
    transform: translateY(0);
    opacity: 1;
  }
  30% {
    transform: translateY(0);
    height: 4px;
  }
  50% {
    transform: translateY(0);
    height: 20px;
  }
  70% {
    transform: translateY(15px);
    height: 4px;
    opacity: 1;
  }
  90% {
    opacity: 0;
  }
  100% {
    transform: translateY(15px);
    opacity: 0;
  }
}

.girl {
	position: absolute;
	width: 275px;
	z-index: 10;
}

.girl.left {
	top: 85%;
	left: -30%;
}

.girl.right {
	top: -50%;
	right: -40%;
}

.box {
	position: relative;
}

.box.a {
	top: -50px;
	width: 75%;
	height: 350px;
	background: rgb(83,14,33);
	background: linear-gradient(90deg, rgba(83,14,33,1) 0%, rgba(219,95,83,1) 100%);
}

.box.b {
	width: 100%;
	height: 300%;
	background: rgb(161,193,241);
	background: linear-gradient(0deg, rgba(161,193,241,1) 0%, rgba(251,207,219,1) 100%);
}