/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
margin: 0;
padding: 0;
border: 0;
font-size: 100%;
font: inherit;
vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
display: block;
}
body {
line-height: 1;
}
ol, ul {
list-style: none;
}
blockquote, q {
quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
content: '';
content: none;
}
table {
border-collapse: collapse;
border-spacing: 0;
}

html, body {
	width: 100%;
	height: 100%;
	background-color: black;
	transform: translateZ(0);
}

@font-face {
  font-family: Butler;
  src: url(assets/fonts/Butler_Black.otf);
  font-weight: 900;
}


@font-face {
  font-family: Butler;
  src: url(assets/fonts/Butler_Bold.otf);
  font-weight: bold;
}

@font-face {
  font-family: Butler;
  src: url(assets/fonts/Butler_Medium.otf);
  font-weight: 700;
}

@font-face {
  font-family: Butler;
  src: url(assets/fonts/Butler_Regular.otf);
  font-weight: normal;
}

@font-face {
  font-family: Butler;
  src: url(assets/fonts/Butler_Light.otf);
  font-weight: 100;
}

@font-face {
  font-family: MinionPro;
  src: url(assets/fonts/MinionPro_Bold.otf);
  font-weight: bold;
}

@font-face {
  font-family: MinionPro;
  src: url(assets/fonts/MinionPro_Medium.otf);
  font-weight: 700;
}

@font-face {
  font-family: MinionPro;
  src: url(assets/fonts/MinionPro_Regular.otf);
  font-weight: normal;
}

.parallax {
  perspective: 1px;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  perspective-origin-x: 100%;
  scroll-behavior: smooth;
}

.ground {
  transform-origin-x: 100%;
  position: absolute;
  background-attachment:fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.fore {
  z-index: 50;
  transform: translateZ(-1px) scale(2);
}

.back {
  transform: translateZ(0);
}

.peach {
	color: #DB5F53;
}

.pomegranates {
	color: #a65b83;
}

.intro {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	height: 100%;
	width: 100%;
	color: white;
	text-align: center;
}

.text-container {
	position: relative;
}

.mouse {
	z-index: 10;
	overflow:hidden;
	position:absolute;
	bottom: 75px;
	width:18px;
	margin: -12px;
	height:40px;
	border:4px solid white;
	border-radius:30px;
	left: 49%;
}

.mouse:after {
	display: block;
	content:"";
	position:absolute;
	left:10.5px;
	top: 5px;
	width:4px;
	height:4px;
	margin-left: -3px;
	background-color: white;
	border-radius:2px;
	animation: mouse-wheel 2.5s cubic-bezier(0.77, 0, 0.175, 1) infinite;
}

@keyframes mouse-wheel {
  0% {
    transform: translateY(0);
    opacity: 0;
  }  
  10% {
    transform: translateY(0);
    opacity: 1;
  }
  30% {
    transform: translateY(0);
    height: 4px;
  }
  50% {
    transform: translateY(0);
    height: 20px;
  }
  70% {
    transform: translateY(15px);
    height: 4px;
    opacity: 1;
  }
  90% {
    opacity: 0;
  }
  100% {
    transform: translateY(15px);
    opacity: 0;
  }
}

.scroll {
	position: absolute;
	z-index: 100;
}

.girl {
	position: absolute;
	width: 25em;
	z-index: 10;
}

.girl.left {
	top: 50%;
	transform: translateX(-140%);
}

.girl.right {
	transform: translate(65%, -25%);
}

.border {
	z-index: -10;
	height: 100%;
	width: 100%;
}

.box {
	position: static;
}

.introbox {
	color: white;
	text-align: center;
	top: 40%;
}

.introbox h1 {
	font-size: 7em;
	font-family: Butler;
	font-weight: bold;
	letter-spacing: 18px;
}

.introbox h5 {
	margin: 15px 0px;
	font-size: 2.3em;
	font-family: Butler;
}

.introbox p {
	width: 500px;
	font-family: Roboto,sans-serif;
	font-weight: 100;
	margin: 0 auto;
	font-size: 1.0em;
}

.box.a {
	width: 85%;
	height: 450px;
	align-self: flex-start;
	transform: translateY(-50px);
	background: rgb(83,14,33);
	background: linear-gradient(90deg, rgba(83,14,33,1) 0%, rgba(219,95,83,1) 100%);
}

.box.b {
	top: 100%;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background: rgb(161,193,241);
	background: linear-gradient(0deg, rgba(161,193,241,1) 0%, rgba(251,207,219,1) 100%);
}

.box.b .peachpom {
	width: 65%;
	max-width: 850px;
	margin-top: 2000px;
	transform: translateX(-200px);
}

.box.b .notpeachpom {
	width: 40%;
	max-width: 600px;
	padding-top: 1000px;
	transform: translateX(-250px);
}

.box.b .pompeiipom {
	width: 40%;
	max-width: 600px;
	padding-top: 2000px;
	padding-bottom: 3750px;
	transform: translateX(250px);
}

.box.c {
	transform: translateX(-4px);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	position: relative;
	background: rgb(207,118,119);
	background: linear-gradient(90deg, rgba(207,118,119,1) 0%, rgba(103,56,81,1) 100%);
}

.cover {
	margin: 50px 50px 0px 50px;
	width: 50%;
	max-width: 600px;
}

.box.footer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.art {

}

.art.a {
	float: right;
}

.art.a h1 {
	font-family: Roboto,sans-serif;
	margin: 10px 0;
}

.video.a {

}

.iteration {
	width: 600px;
	margin: 25px;
}

.seas1 {
	width: 400px;
	margin: 25px;
}

.seas2 {
	width: 500px;
	margin: 25px;
}

.art-container {
	max-width: 2000px;
	position: relative;
	left: 50%;
	transform: translateX(-50%);
}

.row {
	font-family: Roboto, sans-serif;
	display: flex;
	justify-content: center;
}

.row.a {
	margin-top: 25px;
}

.row.a img {
	height: 425px;
	margin: 0 50px 0 0;
	align-self: flex-end;
	z-index: 15;
	transform: translateY(50px);
}

.row.b {
	justify-content: center;
}

.row.b img {
	margin-top: 35px;
	height: 650px;
	width: auto;
	transform: translateX(100px);
}

.row.f {
	display: flex;
	justify-content: center;
	align-items: center;
}

.row.f .alter {
	margin: 35px;
	height: 450px;
	width: auto;
}

.row.f .fish {
	height: 400px;
	margin: 50px;
}

.row.f .laying {
	height: 250px;
	margin: 25px;
}

.row.g {
	justify-content: center;
}

.row.g img {
	margin-top: 35px;
	height: 650px;
	width: auto;
	transform: translate(-150px, -35px);
}


.row.h {
	position: relative;
	display: flex;
	flex-direction: column;
	margin: -25px 0 50px 0;
	justify-content: center;
	align-items: center;
}

.row.h h1 {
	margin: 5px;
}


.row.bottom {
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding-bottom: 500px;
	width: 104%;
}

.sub-container {
	position: relative;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	margin: 0 0 100px 0;
}

.subtext {
	width: 25%;
	align-self: center;
}

.credits {
	width: 60%;
	max-width: 500px;
	padding: 50px 0;
}

.hover:hover {
	opacity: 0.75;
	cursor: pointer;
}

.box.footer {
	height: 25%;
}

.dancetext {
	display: inline-block;
}

@media only screen and (max-width: 800px) {
	.fore {
	  z-index: 50;
	  transform: unset;
	}

	.back {
	  transform: unset;
	}
}